{% extends 'nuevoLayout.html' %}

{% block title %} Busqueda {% endblock %}


{% block body %}

<br>
<form action="/Buscar" method="POST">
    <input type="text" name="busqueda" placeholder="Busqueda">
    <button type="submit">Buscar</button>
</form>

<table class="table table-striped">
    <thead>
            <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Programa</th>
            </tr>
    </thead>
    <tbody>

            {% for profesor in profesores  %}
            <tr>
                    <th scope="row">{{profesor.0}}</th>
                    <td>{{profesor.1}}</td>
                    <td>{{profesor.3}}</td>
                    <td>{{profesor.4}}</td>

                    <td>
                            <a href="/edit/{{profesor.2}}">Editar</a>
                            <a href="/delete/{{profesor.2}}">Eliminar</a>
                    </td>
            </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock %}