<form action="/updatePrestamo/{{prestamo.0}}" method="POST">

    <input type="text" name="idEquipo" placeholder="idEquipo" value="{{prestamo.1}}">
    <input type="text" name="cedulaProfesor" placeholder="cedulaProfesor" value="{{prestamo.2}}">
    <input type="text" name="salon" placeholder="salon" value="{{prestamo.3}}">
    <input type="text" name="horario" placeholder="horario" value="{{prestamo.4}}">
    <input type="text" name="fecha" placeholder="fecha" value="{{prestamo.5}}">
    <input type="text" name="disponibilidad" placeholder="disponibilidad" value="{{prestamo.6}}">
    
    <button type="submit" class="btn btn-outline-secondary">Editar</button>
</form>