<form action="/updatePeticion/{{peticion.0}}" method="POST">

    <input type="text" name="idPrestamo" placeholder="idPrestamo" value="{{peticion.1}}">
    <input type="text" name="cedulaProfesor" placeholder="cedulaProfesor" value="{{peticion.2}}">
    <input type="text" name="solicitud" placeholder="solicitud" value="{{peticion.3}}">
    <input type="text" name="comentario" placeholder="comentario" value="{{peticion.4}}">
    <input type="text" name="estado" placeholder="estado" value="{{peticion.5}}">
    
    <button type="submit" class="btn btn-outline-secondary">Editar</button>
</form>