<!-- Este html me permite optener los datos  necesarios del equipo a actualizar -->
<form action="/updateEquipo/{{equipo.0}}" method="POST">

    <input type="text" name="nombre" placeholder="nombre" value="{{ equipo.1}}">
    <input type="text" name="facultad" placeholder="facultad" value="{{ equipo.2}}">
    <input type="text" name="estadoActual" placeholder="estadoActual" value="{{ equipo.3}}">
    <input type="text" name="disponibilidad" placeholder="disponibilidad" value="{{ equipo.4}}">

    
    <button type="submit" class="btn btn-outline-secondary">Editar</button>
</form>