<!DOCTYPE html>


<html>


<head>


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Libros</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.min.css">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Inicio</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/Busqueda">Busqueda</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/getTime">Hora</a>
      </div>
    </div>
  </nav>

</head>

<body>

  <div class="container">
    {% block body %}
    {% endblock%}
  </div>
</body>

</html>


</html>