{% extends 'layoutAdmin.html' %}
{% block body %}




{% with messages = get_flashed_messages() %}
{%if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading">Bien Hecho :')</h4>
    <p>{{message}}</p>
</div>

{% endfor %}
{% endif %}
{% endwith %}


</br>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id Calificación</th>
            <th scope="col">Id Préstamo</th>
            <th scope="col">Calificación</th>
        </tr>
    </thead>
    <tbody>

        {% for calificacion in calificaciones  %}
        <tr>
            <th scope="row">{{calificacion.0}}</th>
            <td>{{calificacion.1}}</td>
            <td>{{calificacion.2}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}