{% extends 'layoutAdmin.html' %}
{% block body %}




{% with messages = get_flashed_messages() %}
{%if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading">Well done!</h4>
    <p>{{message}}</p>
</div>

{% endfor %}
{% endif %}
{% endwith %}


</br>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id Prestamo</th>
            <th scope="col">Id Equipo</th>
            <th scope="col">Cédula Profesor</th>
            <th scope="col">Salón</th>
            <th scope="col">Horario</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha y Hora Solicitud</th>
        </tr>
    </thead>
    <tbody>

        {% for prestamo in prestamos  %}
        <tr>
            <th scope="row">{{prestamo.0}}</th>
            <td>{{prestamo.1}}</td>
            <td>{{prestamo.2}}</td>
            <td>{{prestamo.3}}</td>
            <td>{{prestamo.4}}</td>
            <td>{{prestamo.5}}</td>
            <td>{{prestamo.6}}</td>
            <td>{{prestamo.7}}</td>

            <td>
                <a href="/editarPrestamo/{{prestamo.0}}">Editar</a>
                <a href="/deletePrestamo/{{prestamo.0}}">Cancelar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}