{% extends 'layoutAdmin.html' %}
{% block body %}




{% with messages = get_flashed_messages() %}
{%if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading">Bien Hecho :')</h4>
    <p>{{message}}</p>
</div>

{% endfor %}
{% endif %}
{% endwith %}


</br>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id Petición</th>
            <th scope="col">Id Préstamo</th>
            <th scope="col">Cédula</th>
            <th scope="col">Solicitud</th>
            <th scope="col">Comentario</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha/Hora petición</th>
        </tr>
    </thead>
    <tbody>

        {% for peticion in peticiones  %}
        <tr>
            <th scope="row">{{peticion.0}}</th>
            <td>{{peticion.1}}</td>
            <td>{{peticion.2}}</td>
            <td>{{peticion.3}}</td>
            <td>{{peticion.4}}</td>
            <td>{{peticion.5}}</td>
            <td>{{peticion.6}}</td>

            <td>
                <a href="/editarPeticion/{{peticion.0}}">Editar</a>
                <a href="/deletePeticion/{{peticion.0}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}