{% extends 'layoutProfesor.html' %}
{% block body %}




{% with messages = get_flashed_messages() %}
{%if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading">Bien Hecho :')</h4>
    <p>{{message}}</p>
</div>

{% endfor %}
{% endif %}
{% endwith %}


</br>

<div class="container">


    <div class="row">


        <div class="col-md-5 col-md-offset-3">


            <form action="/add_peticion" method="POST">

                <div class="form-group">


                    <label>Id Prestamo</label>


                    <input type="text" class="form-control" name="idPrestamo">


                </div>

                <div class="form-group">


                    <label>Cédula</label>


                    <input type="text" class="form-control" name="cedulaProfesor">


                </div>

                <div class="form-group">


                    <label>Solicitud</label>


                    <input type="text" class="form-control" name="solicitud">


                </div>

                <div class="form-group">


                    <label>Comentario</label>


                    <input type="text" class="form-control" name="comentario">

                    <small class="form-text text-muted">Realizar la petición con minimo 12 horas de anticipación o la petición será rechazada.</small>


                </div>

                <div class="form-group">


                    <button class="btn btn-primary">Enviar</button>


                </div>


            </form>


        </div>


    </div>


</div>

<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id Petición</th>
            <th scope="col">Id Préstamo</th>
            <th scope="col">Cédula</th>
            <th scope="col">Solicitud</th>
            <th scope="col">Comentario</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha/Hora petición</th>
        </tr>
    </thead>
    <tbody>

        {% for peticion in peticiones  %}
        <tr>
            <th scope="row">{{peticion.0}}</th>
            <td>{{peticion.1}}</td>
            <td>{{peticion.2}}</td>
            <td>{{peticion.3}}</td>
            <td>{{peticion.4}}</td>
            <td>{{peticion.5}}</td>
            <td>{{peticion.6}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->



{% endblock %}